.footerBottomBar {
  padding: 18px 24px 26px;
}

.footerDivider {
  height: 1px;
  width: 100%;
  background: color-mix(in oklab, currentColor 18%, transparent);
  margin-bottom: 14px;
}

.footerCopy {
  text-align: center;
  font-size: 13px;
  opacity: 0.85;
}
