/* Title animation - slide-in effect */
.blog-items-preview .animated-title {
  text-align: center;
  padding-bottom: 20px;
  font-size: 2rem; /* Adjust font size for better visibility */
  color: var(--color-mainDarkBlue);

  opacity: 0;
  transform: translateY(50px); /* Slide from below */
  transition: all 1.5s ease-in-out;
}

.blog-items-preview .animated-title.animate {
  opacity: 1;
  transform: translateY(0); /* Slide into place */
}
.blog-items-preview {
  margin:  0 auto;
  max-width: 1400px;
}

.blog-items-container-outer {
  padding: 15px;
  margin: 0 auto;
}
.slick-track{
  width: 80%;
  margin: 0 auto;
}
.blog-items-container-inner {
  background-color: #ffffff; /* White background for cards */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px #56635b; /* Subtle shadow */
  transition: all 0.6s ease-in-out;
  overflow: hidden; /* Ensures the image doesn't overflow */
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.blog-items-container-inner:hover {
  transform: translateY(-15px); /* Lift effect on hover */
}

.blog-image {
  width: 100%; /* Full width */
  height: auto; /* Maintain aspect ratio */
}

.blog-items-preview .blog-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: rgb(24, 106, 59); /* Dark text for title */
}

.blog-items-preview .blog-description {
  font-size: 1rem;
  color: rgb(165, 169, 173); /* Lighter text for description */
  padding: 0 10px;
}
.blog-items-preview .blog-link {
  display: inline-block; /* Make the link a button */
  padding: 10px 20px; /* Button padding */
  background-color: #28a745; /* Green primary color */
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
  border-radius: 5px; /* Rounded corners */
  position: relative; /* Positioning for the pseudo-element */
  overflow: hidden; /* Ensure the gradient doesn't overflow */
  transition: color 0.3s ease; /* Smooth transition for text color */
  z-index: 2;
}

.blog-items-preview .blog-link::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: -100%; /* Start off-screen to the left */
  height: 100%;
  width: 100%;
  background-color: black; /* Black background */
  color: white;
  transition: left 0.3s ease; /* Smooth transition for the background */
}

.blog-items-preview .blog-link:hover::after {
  left: 0; /* Move black background into view on hover */
}

.blog-items-preview .blog-link:hover {
  color: white; /* Keep text color white on hover */
}
