
.services,
.blogs,
.about,
.contact-us,
.quiz,
.blog-post-container,
.login-wrapper{
  padding-top: 100px;
}
.thank-message{
  padding-top: 150px;
}
/* responsive design */
@media (max-width:768px) {
  .services,
  .blogs,
  .about,
  .contact-us,
  .quiz,
  .blog-detail-background{
    padding-top: 70px;
  }
  .thank-message{
    padding-top: 120px;
  }
}